/* NAVBAR */
nav{
    position: fixed;
    top: 0%;
    z-index: 13;
    width: 100%;
}
.main-nav{
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-inline);
}
.left-nav h2{
    font-family: gallient;
}
.navlinks{
    gap: 25px;
}
.hoverlinks{
    text-transform: uppercase;
}

/* BANNER */
.main-banner-cont{
    height: 100vh;
    position: relative;
    z-index: 12;
    overflow: hidden;
}
.banner-box{
    position: absolute;
    z-index: 11;
    right: 0;
    bottom: 0;
    width: 30vw;
    height: 75vh;
    background-color:#ede2d1;
}
.banner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-image{
    position: absolute;
    z-index: 12;
    right: 5%;
    bottom: 20%;
    width: 40vw;
    height: 70vh;
}
.banner-text{
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 13;
    gap: 50px;
}
.main-head{
    font-family: gallient;
    font-size: 4.5rem;
}
.banner-btns{
    gap: 10px;
}
.stats{
    gap: 50px;
}
.stats-sec p{
    text-transform: uppercase;
}



/* TESTIMONIAL */


.testimonial{
    /* background-color: var(--light-color); */
} 
.test-cont{
    padding:20px var(--padding-inline);
    text-align: center;
    user-select: none;
}

.testi-card{
    text-align: center;
    padding:40px var(--padding-inline) ;
    display: none;
    animation: fadeIn 5s;
    animation-timing-function: ease-in;
    width: 100%;

}
.testi-cards{
    align-items: center;
    /* min-height to maintain container constant height throught the transition */
    min-height: 200px;  
}
.testicontent{
    padding: var(--padding-inline);
    align-items: center;
    justify-content: space-between;
    
}
.quote{
    width: 10%;
}
.testi-customer{
    font-weight: bold;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    25% { opacity: 1; }
    70%{opacity: 1;}
    100% { opacity: 0; }
}
